<!DOCTYPE html>
<html lang="ja">
  
<head>
  <title>MessageBoard | TsLink Design</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TasLink Design</a>
        </div>
        <div class="collapse navbar-collapse" id="site-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">MessageBoard</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <section id="MessageBoard-taslink">
    <div class="container">
      <div class="page-header">
        <h1>MessageBoard</h1>
      </div>
      
      <% if notice %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
      <% end %>
      
      <%= yield %>
      
    </div>
  </section>
  
  <footer>
    <div class="copyright">© 2016 TasLink Design</div>
  </footer>
  
</body>

</html>
